{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock %}</title>
    {% tailwind_css %}
</head>

<body class="bg-slate-800 text-white">
    <nav class="flex justify-between items-center py-6 px-4 border-b shadow-lg font-mono">
        <div class="flex flex-row gap-4 items-center">
        <a href="/" class="font-bold text-xl">Drafter</a>
        {% if document %}
        <div class="text-sm">
            {{document.title}}
        </div>
        {% endif %}
        </div>
        <div class="">
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button></form>
                {% else %}
                <a href="{% url 'login' %}">Log in</a>
            {% endif %}
            {% block nav_extra %}{% endblock %}
        </div>
    </nav>
    <main class="w-full">
    {% block content %}{% endblock %}
    </main>
</body>
</html>
